<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @web_test.url %>
</p>

<p>
  <strong>Label:</strong>
  <%= @web_test.label %>
</p>

<p>
  <strong>Requested runs:</strong>
  <%= @web_test.requested_runs %>
</p>

<p>
  <strong>Location:</strong>
  <%= @web_test.location %>
</p>

<p>
  <strong>Additional parameters:</strong>
  <%= @web_test.additional_parameters %>
</p>

<p>
  <strong>Status:</strong>
  <%= @web_test.status %>
</p>

<p>
  <strong>Wpt:</strong>
  <%= @web_test.wpt_id %>
</p>

<% @web_test.run.each do |run| %>
    <h3>Run X</h3>

    <table id="tableResults" class="pretty" align="center" border="1" cellpadding="10" cellspacing="0">
      <thead>
      <tr>
        <th align="center" class="empty" valign="middle" style="border:1px white solid;"></th>
        <th align="center" class="empty" valign="middle" colspan="4"></th>
        <th align="center" class="border" valign="middle" colspan="3">Document Complete</th>
        <th align="center" class="border" valign="middle" colspan="3">Fully Loaded</th>
      </tr>
      <tr>
        <th align="center" class="empty" valign="middle"></th>
        <th align="center" valign="middle">Load Time</th>
        <th align="center" valign="middle">First Byte</th>
        <th align="center" valign="middle">Start Render</th>
        <th align="center" valign="middle">DOM Elements</th>

        <th align="center" class="border" valign="middle">Time</th>
        <th align="center" valign="middle">Requests</th>
        <th align="center" valign="middle">Bytes In</th>

        <th align="center" class="border" valign="middle">Time</th>
        <th align="center" valign="middle">Requests</th>
        <th align="center" valign="middle">Bytes In</th>
      </tr>
      </thead>
      <tr>
        <td align="left" valign="middle">First View</td>
        <td id="fvLoadTime" valign="middle"><%= run.first_view.load_time %></td>
        <td id="fvTTFB" valign="middle"><%= run.first_view.ttfb %></td>
        <td id="fvStartRender" valign="middle"><%= run.first_view.render %></td>
        <td id="fvDomElements" valign="middle">?</td>
        <td id="fvDocComplete" class="border" valign="middle"><%= run.first_view.doc_time %></td>
        <td id="fvRequestsDoc" valign="middle"><%= run.first_view.requests_doc %></td>
        <td id="fvBytesDoc" valign="middle"><%= run.first_view.bytes_in_doc %></td>
        <td id="fvFullyLoaded" class="border" valign="middle"><%= run.first_view.fully_loaded %></td>
        <td id="fvRequests" valign="middle"><%= run.first_view.requests %></td>
        <td id="fvBytes" valign="middle"><%= run.first_view.bytes_in %></td>
      </tr>
      <tr>
        <td align="left" class="even" valign="middle">Repeat View
        </td><td id="rvLoadTime" class="even" valign="middle">0.989s</td>
        <td id="rvTTFB" class="even" valign="middle">0.448s</td>
        <td id="rvStartRender" class="even" valign="middle">0.623s</td>
        <td id="rvDomElements" class="even" valign="middle">274</td>
        <td id="rvDocComplete" class="even border" valign="middle">0.989s</td>
        <td id="rvRequestsDoc" class="even" valign="middle">4</td>
        <td id="rvBytesDoc" class="even" valign="middle">35 KB</td>
        <td id="rvFullyLoaded" class="even border" valign="middle">1.486s</td>
        <td id="rvRequests" class="even" valign="middle">6</td>
        <td id="rvBytes" class="even" valign="middle">36 KB</td>
      </tr>
    </table>

<% end %>

<%= link_to 'Edit', edit_test_suite_web_test_path(@test_suite, @web_test) %> |
<%= link_to 'Back', test_suite_web_tests_path(@test_suite) %>
