<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @web_test.url %>
</p>

<p>
  <strong>Label:</strong>
  <%= @web_test.label %>
</p>

<p>
  <strong>Requested runs:</strong>
  <%= @web_test.requested_runs %>
</p>

<p>
  <strong>Location:</strong>
  <%= @web_test.location %>
</p>

<p>
  <strong>Additional parameters:</strong>
  <%= @web_test.additional_parameters %>
</p>

<p>
  <strong>Status:</strong>
  <%= @web_test.status %>
</p>

<p>
  <strong>Wpt:</strong>
  <%= @web_test.wpt_id %>
</p>

<h3>Average</h3>
<% unless @web_test.average.nil? %>
    <%= render partial: 'result', locals: {run: @web_test.average}  %>
<% end %>
<% @web_test.run.each do |run| %>
    <h3>Run </h3>
    <%= render partial: 'result', locals: {run: run} %>
<% end %>

<%= link_to 'Edit', edit_test_suite_web_test_path(@test_suite, @web_test) %> |
<%= link_to 'Back', test_suite_web_tests_path(@test_suite) %>
